:host {
  padding: 1em;
  display: grid;
  grid-template-rows: 1fr;
}

.wide {
  width: 50em;
  justify-self: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

mat-chip {
  min-width: 5em;
}

.fab {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}
