:host {
  display: grid;
  grid-template-rows: min-content 1fr;
  padding: 1em;
  overflow: hidden;
}

.data {
  overflow: auto;
}

.week {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-items: center;
  align-items: center;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day {
  .portal {
    span {
      padding: 0.5em;
      border-radius: .5em;
      background-color: #fbc02d;
      color: black;
    }

    .done {
      color: white!important;
      background-color: green!important;
    }
  }
}

.row {
  display: grid!important;
  grid-template-columns: minmax(130px,1fr) 80px 80px 40px;
  align-items: center;
}

.tracker {
  color: #616161;
  text-align: center;
}

.portal {
  text-align: center;
}
